[submodule "submodules/geobricks_ui_download_progress"]
	path = submodules/geobricks_ui_download_progress
	url = https://github.com/geobricks/geobricks_ui_download_progress.git
[submodule "submodules/geobricks_ui_download_modis"]
	path = submodules/geobricks_ui_download_modis
	url = https://github.com/geobricks/geobricks_ui_download_modis.git
[submodule "submodules/geobricks_ui_download_trmm"]
	path = submodules/geobricks_ui_download_trmm
	url = https://github.com/geobricks/geobricks_ui_download_trmm.git
